{
  "page": 1,
  "x": 0.0,
  "y": 0.0,
  "width": 220.0,
  "height": 60.0,
  "template_name": "M\u1eb7c \u0111\u1ecbnh",
  "convert_pdfa": false,
  "avoid_text_overlap": true,
  "tsa_enabled": true,
  "tsa_url": "http://tsa.ca.gov.vn"
}
