{
  "M\u1eb7c \u0111\u1ecbnh": {
    "text": "X\u00e1c nh\u1eadn sao t\u1ea1i kho l\u01b0u tr\u1eef ... {datetime}",
    "position": {
      "page": 1,
      "x": 0.0,
      "y": 0.0,
      "width": 220.0,
      "height": 60.0
    },
    "stamp_text_position": "below"
  }
}
